* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    height: 100vh;
    background-image: linear-gradient(135deg, #e48b91, #e4ee79);
  }
  .clock {
    width: 31.25em;
    height: 8em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
  }
  .clock div {
    position: relative;
    background-color: #c4eb69;
    height: 100%;
    width: 3.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    color: #150c41;
    border-radius: 0.15em;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.3);
    letter-spacing: 0.05em;
  }
  .clock span {
    font-weight: 800;
    font-size: 2.5em;
    color: #ffffff;
  }